<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cryptoApp</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>

    <div id="cryptoApp">

    </div>

    <!-- load the API code -->
    <script src="/javascripts/cryptoAPI.js"></script>
    <script src="/javascripts/digSigAPI.js"></script>

    <!-- helper functions to deal with array buffers -->
    <script src="/javascripts/arrayBufferHelper.js"></script>

    <!-- helper essential libraries and frameworks -->
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>

    <!-- crypto API -->
    <script src="/javascripts/symCrypto.js"></script>
    <script src="/javascripts/cryptoRSA.js"></script>

    <!-- drag and drop functionality -->
    <script src="/javascripts/dragAndDrop.js"></script>  
    
    <!-- the main application script -->
    <script src="/javascripts/cryptoApp.js"></script>

  </body>
</html>
