<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cryptoApp</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>

    <div id="cryptoApp">

    </div>

    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>


    <script src="/javascripts/symCrypto.js"></script>
    <script src="/javascripts/cryptoRSA.js"></script>
    
    <script src="/javascripts/cryptoApp.js"></script>
    <!-- <script src="/javascripts/dragAndDrop.js"></script> -->

  </body>
</html>
