*{
  box-sizing: border-box''
}

.people{
    display: block;
    width: 100%;
    margin: 10px 0;
    overflow: auto;
    max-height: 550px;
}

.person{
    background-color: #c1f0e5;
    overflow: hidden;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    padding: 4px;
    text-align: center;
}

h3{
    display: block;
    font-size: 20px;
    padding: 5px;
    margin: auto;

}

.person span{
    /*display toggle*/
    display: none;
    color: #275342;
}

.loginForm{
    width: 100%;
    display: block;
    margin: 10px 0;
}

.loginForm input{
    display: block;
    width: 100%;
    padding: 3px;
    font-size: 19px;
    letter-spacing: 1.3px;
    border: 1px solid dimgray;
    border-radius: 3px;
    margin: 5px 0;
}

.loginForm button{
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 2px;
    font-size: 19px;
    padding: 3px;
    background-color: #7ec412;
    color: white;
    cursor: pointer;
}

.loginForm p{
    text-align:center;
    padding: 5px 0;
    font-size: 22px;
    background-color: #7ec412;
    color: white;
    border: none;
    border-radius: 3px;
}

aside{
  width: 28%;
  display: inline-block;
}

.line{
  display: block;
  width: 100%;
  height: 5px;
  background-color: springgreen;
}


.cryptoInfo{
    background-color: #6621b7;
    color: white;

    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 3px;
    vertical-align: top;
    margin: 10px 0;
}

.cryptoInfo h3{
    display: inline-block;
    width: 32%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.cryptoInfo span{
    display: inline-block;
    width: 32%;
    margin: auto;
    text-align: center;
    font-size: 22px;
    vertical-align: top;
    margin: 10px 0;
}


.secretKey{
    display: inline-block;
    width: 100%;
    background-color: aliceblue;
    padding: 5px;
}

.secretKey h2{
    display: inline-block;
    width: 25%;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.secretKey h3{
    width: 45%;
    display: inline-block;
    text-align: center;
    background-color: #ffef8e;
}

.secretKey input{
    width: 45%;
    display: inline-block;
    text-align: center;
    background-color: #ffef8e;
    border: none;
    border-radius: 3px;
    padding: 5px;
    vertical-align: middle;
    font-size: 18px;
}

.secretKey button{
    width: 20%;
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 17px;
    margin: auto;
    color: white;
    background-color:#a28b01;
    font-weight: bold;
    cursor: pointer;
}

.secretKey *{
    vertical-align: middle;
}

.col-2-3{
    width: 70%;
    display: inline-block;
    vertical-align: top;
}


.chatBox{
    display: inline-block;
    width: 49.5%;
    height: 450px;
    background-color: #f0eee8;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

.msgArea{
    height: 80%;
    overflow: auto;
}

.msgArea span{
    clear: both;
    padding: 4px;
    border: none;
    border-radius: 3px;
    margin: 5px;
    max-width: 85%;
    word-wrap: break-word;
}
.out{
    float: right;
    background-color: #e2ff00;
}
.in{
    float: left;
    background-color: #1aaff4;
}
.inv{
    float: left;
    background-color: #1af425;
    font-size: 15px;
}
.inputArea{
    height: 20%;
    padding: 3px;
}

.inputArea input{
    display: block;
    width: 98%;
    min-height: 10px;

    border: none;
    border-radius: 3px;
    padding: 3px;
    font-size: 17px;
    margin: 5px auto;
    letter-spacing: 1.1px;

    overflow:auto;
    resize: none;
    outline: none;
    white-space: nowrap;
    word-wrap: break-word;
}

.inputArea button{
    display: block;
    width: 40%;
    border: none;
    border-radius: 3px;
    padding: 3px;
    font-size: 17px;
    margin: 2px auto;
    cursor: pointer;

    background-color: #009b67;
    color: white;
}

.fileArea{
  width: 100%;
  margin: auto;
  padding: 15px;

  border: none;
  border-radius: 3px;
  background-color: lightgreen;
  margin-top: 10px;
  text-align: center;
}

.chatBoxEnc{
  position: absolute;
  left: 64.3%;
  width: 34%;
}

.inputArea > span{
    display: block;
    padding: 5px;
    word-wrap: break-word;
    margin-top: 5px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    background-color: white;
    min-height: 42px;
}
